/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.footer[_ngcontent-ng-c548756559] button[_ngcontent-ng-c548756559] {
    width: 100%;
    padding: 10px 30px 30px 30px;}
